
.timeline-set {
	padding-left: 8em;
}

/*== Timeline Entries ==*/

.timeline {

}

.timeline .entry {
	padding: 1.5em 0.3em;
	border: 1px solid #ddd;
	margin: 0;
}

.timeline .entry .timestamp {
	font-style: italic;
}

.timeline .entry .text {
	font-size: 150%;
}

.timeline .entry .image {
	background-color: #eef;
	border: 1px solid #ddd;
}

.timeline .entry .image img {
	width: 90%;
	height: auto;
	display: block;
	margin: 1em auto 1em auto;
}

.timeline .links {
	background-color: #faa;
}

.timeline .links dt {
	margin-left: -2em;
}

/*== Time axis ==*/

.timeaxis {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.timeaxis .day {
	color: white;
	background-color: rgb(51, 122, 183);
	font-weight: bold;
	opacity: 0.8;
}

.timeaxis .day:nth-child(2n+1) {
	background-color: rgb(49, 112, 143);
}

.timeaxis .day span {
	display: block;
	padding-top: 1.5em;
	padding-left: 1.5em;
}
